.wrapper
  .box
    %h2.box--signup 新規登録
    .border
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email, class: "title"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "enter"
      .border
      .field
        = f.label :password, class: "title"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "enter"
      .border
      .field
        = f.label :password_confirmation, class: "title"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "enter"
      .border
      .actions
        = f.submit "Sign up", class: "btn"
    = render "devise/shared/links"
