.wrapper
  .box
    %h2.box--login ログイン
    .border
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, class: "label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "text"
      .border
      .field
        = f.label :password, class: "label"
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "text"
      .border
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me, class: "label"
      .border
      .actions
        = f.submit "Log in", class: "login"
    = link_to "Sign up", new_registration_path(resource_name), class: "signup"

